<h1>
  Partie id: <%= partie.id %> <br />
  <i><%= partie.status %></i>
  <!-- Un lien peut etre generer en relatif battleship_show_path (path) et absolue battleship_show_url (url) -->
  <%= link_to 'voir cette partie', exemple_show_path(id: partie.id) %>
</h1>
Joueur 1 :<%= partie.joueur_1.fullname %><br />
<% if partie.joueur_2 %>
  Joueur 2 :<%= partie.joueur_2.fullname %><br />
<% end %>
