<style>
  .field_with_errors {
    color: red;
  }
</style>

<%= link_to 'documentation des formulaires', 'https://guides.rubyonrails.org/form_helpers.html', target: '_BLANK' %>
<br />


<%= form_for(@joueur, url:'/exemple_template_post_6', method: "post") do |f| %>
  <%= f.label(:nom) %>
  <%= @joueur.errors[:nom].join('<br />') %>
  <br/>
  <%= f.text_field(:nom) %>
  <br />
  <%= f.label(:prenom) %>
  <%= @joueur.errors[:prenom].join('<br />') %>
  <br/>
  <%= f.text_field(:prenom) %>
  <br/>
  <%= f.label(:email) %>
  <%= @joueur.errors[:email].join('<br />') %>
  <br/>
  <%= f.email_field(:email) %>
  <br />
  <%= submit_tag("Ajouter") %>
<% end %>