<%= link_to 'documentation des formulaires', 'https://guides.rubyonrails.org/form_helpers.html', target: '_BLANK' %>
<br />

<% if @joueur %>
  <%= @joueur.errors %>
<% end %>

<%= form_with(url: "/exemple_template_post_5", method: "post") do %>
  <%= label_tag(:nom, "nom:") %>
  <br />
  <%= text_field_tag(:nom) %>
  <br />
  <%= label_tag(:prenom, "prenom:") %>
  <br />
  <%= text_field_tag(:prenom) %>
  <br/>
  <%= label_tag(:email, "email:") %>
  <br/>
  <%= email_field_tag(:email) %>
  <br />
  <%= submit_tag("Ajouter") %>
<% end %>