<%= link_to 'documentation des formulaires', 'https://guides.rubyonrails.org/form_helpers.html', target: '_BLANK' %>
<br />

<%= @joueur.errors.full_messages %>

<!-- Chaque requête est sans mémoire, on doit lui redonner les valeurs qui ont été entré dans le html de réponse même s'il contient des erreurs -->
<%= form_with(url: "/exemple_template_post_5", method: "post") do %>
  <%= label_tag(:nom, "nom:") %>
  <br />
  <!-- https://guides.rubyonrails.org/form_helpers.html#helpers-for-generating-form-elements -->
  <%= text_field_tag(:nom, @joueur.nom) %>
  <br />
  <%= label_tag(:prenom, "prenom:") %>
  <br />
  <%= text_field_tag(:prenom, @joueur.prenom) %>
  <br/>
  <%= label_tag(:email, "email:") %>
  <br/>
  <%= email_field_tag(:email, @joueur.email) %>
  <br />
  <%= submit_tag("Ajouter") %>
<% end %>
