Liste des joueurs <br />
<% @parties.each do |partie| %>
  <!-- une partiel débute toujours par un "_" dans le nom de fichier mais jamais dans le code --> 
  <%= render 'partie', {partie: partie}  %>
<% end %>
