<!-- Voir le fichier components.html dans le template de base -->
<div class="span6">
  <h4 class="heading"><strong>Table</strong> - Color table rows<span></span></h4>

  <table class="table">
    <thead>
    <tr>
      <th>
        # partie
      </th>
      <th>
        Joueur 1
      </th>
      <th>
        Joueur 2
      </th>
      <th>
        Status
      </th>
    </tr>
    </thead>
    <tbody>

    <!--Voir la création d'un helper dans helpers/application_helper.rb-->
    <% @parties.each do |partie| %>
      <tr class="<%= partie_status(partie) %>">
        <td>
          <%= partie.id %>
        </td>
        <td>
          <%= partie.joueur_1.fullname %>
        </td>
        <td>
          <%= partie.joueur_2 ? partie.joueur_2.fullname : "En attente" %>
        </td>
        <td>
          <%= partie.status %>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>