Page d'accueil <br />

<%= link_to 'Exemple controleur', exemple6_path %>

<%= content_tag :ul do %>

  <%= content_tag(:li,  class: "link") do
    link_to 'Exemple 1 controleur', exemple1_path
  end %>

  <%= content_tag(:li,  class: "link") do
    link_to 'Exemple 2 controleur', exemple2_path
  end %>

  <%= content_tag(:li,  class: "link") do
    link_to 'Exemple 3 controleur', exemple3_path
  end %>

  <%= content_tag(:li,  class: "link") do
    link_to 'Exemple 4 controleur', exemple4_path
  end %>

  <%= content_tag(:li,  class: "link") do
    link_to 'Exemple 5 controleur', exemple5_path
  end%>

<% end %>

<hr />

Exemple de templates et partielles<br />

<%= link_to 'Exemple templates', exemple_template_6_path %>

<%= content_tag :ul do %>

  <%= content_tag(:li, class: "link") do
    link_to 'Exemple 1 templates', exemple_template_1_path
  end %>

  <%= content_tag(:li, class: "link") do
    link_to 'Exemple 2 templates', exemple_template_2_path
  end %>

  <%= content_tag(:li, class: "link") do
    link_to 'Exemple 3 controleur', exemple_template_3_path
  end %>

  <%= content_tag(:li, class: "link") do
    link_to 'Exemple 4 controleur', exemple_template_4_path
  end %>

  <%= content_tag(:li, class: "link") do
    link_to 'Exemple 5 controleur', exemple_template_5_path
  end %>

<% end %>

<hr />

Exemple de CSS<br />

<%= link_to 'Exemple css', css1_path %>