<header>
  <!-- Navbar
  ================================================== -->
  <div class="cbp-af-header">
    <div class=" cbp-af-inner">
      <div class="container">
        <div class="row">

          <div class="span4">
            <!-- logo -->
            <div class="logo">
              <h1><a href="index.html">Plato</a></h1>
              <!-- <img src="assets/img/logo.png" alt="" /> -->
            </div>
            <!-- end logo -->
          </div>

          <div class="span8">
            <!-- top menu -->
            <div class="navbar">
              <div class="navbar-inner">
                <nav>
                  <ul class="nav topnav">
                    <li class="dropdown active">
                      <a href="index.html">Home</a>
                    </li>
                    <li class="dropdown">
                      <a href="#">Features</a>
                      <ul class="dropdown-menu">
                        <li><a href="scaffolding.html">Scaffolding</a></li>
                        <li><a href="base-css.html">Base CSS</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="list.html">Styled lists</a></li>
                        <li class="dropdown"><a href="#">3rd level</a>
                          <ul class="dropdown-menu sub-menu">
                            <li><a href="#">Example menu</a></li>
                            <li><a href="#">Example menu</a></li>
                            <li><a href="#">Example menu</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Pages</a>
                      <ul class="dropdown-menu">
                        <li><a href="about.html">About us</a></li>
                        <li><a href="pricingtable.html">Pricing table</a></li>
                        <li><a href="fullwidth.html">Fullwidth</a></li>
                        <li><a href="404.html">404</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Portfolio</a>
                      <ul class="dropdown-menu">
                        <li><a href="portfolio-2cols.html">Portfolio 2 columns</a></li>
                        <li><a href="portfolio-3cols.html">Portfolio 3 columns</a></li>
                        <li><a href="portfolio-4cols.html">Portfolio 4 columns</a></li>
                        <li><a href="portfolio-detail.html">Portfolio detail</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Blog</a>
                      <ul class="dropdown-menu">
                        <li><a href="blog_left_sidebar.html">Blog left sidebar</a></li>
                        <li><a href="blog_right_sidebar.html">Blog right sidebar</a></li>
                        <li><a href="post_left_sidebar.html">Post left sidebar</a></li>
                        <li><a href="post_right_sidebar.html">Post right sidebar</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="contact.html">Contact</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- end menu -->
          </div>

        </div>
      </div>
    </div>
  </div>
</header>