<!DOCTYPE html>
<html>
<head>
  <title>Battleship</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Retrait temporaire du javascript afin de bien comprendre et voir les requêtes de formulaire -->
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<table style="width:100%">
  <tr>
    <th colspan="2" style="text-align: center;background-color: aqua">
      Bienvenue sur mon application web!
    </th>
  </tr>
  <tr>
    <!-- Déplacer le yield va déplacer la vue produite au controleur dans l'ensemble de ma page -->
    <td>
      <%= yield %>
    </td>
    <td style="width: 20%; vertical-align: top;background-color: powderblue">
      <%= link_to 'Exemple controleur', exemple6_path %>

      <%= content_tag :ul do %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 1 controleur', exemple1_path
        end %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 2 controleur', exemple2_path
        end %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 3 controleur', exemple3_path
        end %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 4 controleur', exemple4_path
        end %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 5 controleur', exemple5_path
        end %>

      <% end %>

      <%= link_to 'Exemple templates', exemple_template_6_path %>

      <%= content_tag :ul do %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 1 templates', exemple_template_1_path
        end %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 2 templates', exemple_template_2_path
        end %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 3 controleur', exemple_template_3_path
        end %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 4 controleur', exemple_template_4_path
        end %>

        <%= content_tag(:li, class: "link") do
          link_to 'Exemple 5 controleur', exemple_template_5_path
        end %>

      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: right; background-color: darkkhaki">
      Tous droits réservés à Mathieu St-Yves et ses étudiants ;-)
    </td>
  </tr>
</table>
</body>
</html>